body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Tile{
  width: 100px;
  height: 100px;
  background-color: #000;
  float: left;
  color: aliceblue;
  border: solid 1px #fff;
  flex: 1 0 25%;
}

.Grid{
  width: 30%;
  height: 100%;
  background-color: #000;
  margin: 20px;
  float: left;
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
}

.Button {
  background-color: white; 
  color: black; 
  border: 2px solid  #008CBA;
  border-radius: 5px;
  padding: 10%;
  font-size: 16px;
  margin-bottom: 50%;
}

.Button:hover {
  background-color: #008CBA;
  color: white;
}
